<mat-card class="product-card" [routerLink]="['/products', product.id]">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{product.data.title}}</mat-card-title>
      <mat-card-subtitle>{{product.data.description | uppercase }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="product-card__content">
    <p><span style="font-weight: 500">Price/Kg:</span> {{product.data.price | currency}}</p>
    <p><span style="font-weight: 500">Employee:</span> {{product.data.employee}}</p>
    <p><span style="font-weight: 500">Category:</span> {{product.data.category}}</p>
    <p><span style="font-weight: 500">Reviews:</span> {{product.data.reviews}}</p>
  </mat-card-content>
</mat-card>