.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .form-group {
    font-size: 1.5rem;
    margin-bottom: 20px;
    min-width: 30%;

    & div {
      margin-top: 8px;
    }

    & input {
      font-size: 1rem;
      border-radius: 4px;
      padding: 16px;
      width: 100%;

      &:focus {
        outline: none;
      }

      &.is-invalid {
        border: 2px solid red;
      }
    }

    & span {
      font-size: 1rem;
      color: red;
    }
  }
}
