<form novalidate (ngSubmit)="save()" [formGroup]="productForm" class="form">
  <div class="form-group">
    <label for="title">Title</label>
    <div>
      <input id="title" type="text" placeholder="First Name (required)" formControlName="title"
        [ngClass]="{'is-invalid': (productForm.get('title')?.touched || productForm.get('title')?.dirty) && !productForm.get('title')?.valid }" />
    </div>
    <div>
      <span *ngIf="productForm.get('title')?.errors?.['required']">
        Please enter the product title.
      </span>
      <span *ngIf="productForm.get('title')?.errors?.['minlength']">
        The product title must be longer than 3 characters.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <div>
      <input id="description" type="text" placeholder="First Name (required)" formControlName="description"
        [ngClass]="{'is-invalid': (productForm.get('description')?.touched || productForm.get('description')?.dirty) && !productForm.get('description')?.valid }" />
    </div>
    <div>
      <span *ngIf="productForm.get('description')?.errors?.['required']">
        Please enter the product description.
      </span>
      <span *ngIf="productForm.get('description')?.errors?.['minlength']">
        The product description must be longer than 3 characters.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="price">Price/Kg</label>
    <div>
      <input id="price" type="number" placeholder="First Name (required)" formControlName="price"
        [ngClass]="{'is-invalid': (productForm.get('price')?.touched || productForm.get('price')?.dirty) && !productForm.get('price')?.valid }" />
    </div>
    <div>
      <span *ngIf="productForm.get('price')?.errors?.['required']">
        Please enter the product price.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <div>
      <input id="category" type="text" placeholder="First Name (required)" formControlName="category"
        [ngClass]="{'is-invalid': (productForm.get('category')?.touched || productForm.get('category')?.dirty) && !productForm.get('category')?.valid }" />
    </div>
    <div>
      <span *ngIf="productForm.get('category')?.errors?.['required']">
        Please enter the product category.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="employee">Employee</label>
    <div>
      <input id="employee" type="text" placeholder="First Name (required)" formControlName="employee"
        [ngClass]="{'is-invalid': (productForm.get('employee')?.touched || productForm.get('employee')?.dirty) && !productForm.get('employee')?.valid }" />
    </div>
    <div>
      <span *ngIf="productForm.get('employee')?.errors?.['required']">
        Please enter the employee name.
      </span>
    </div>
  </div>

  <div>
    <div>
      <button mat-raised-button color="primary" type="submit" style="width:80px"
        [title]="productForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
        [disabled]="!productForm.valid">
        Save
      </button>
    </div>
  </div>
</form>