.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 8px;
  padding: 20px;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
