<div *ngIf="loading" class="loader">
  <mat-spinner></mat-spinner>
</div>
<div class="cards-container">
  <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
</div>