<mat-toolbar color="primary">
  <h3>{{title}}</h3>
  <span style="width: 80px;"></span>
  <a [routerLink]="['products']">Products</a>
  <a [routerLink]="['create-product']">Create Product</a>
</mat-toolbar>
<router-outlet></router-outlet>