<div *ngIf="loading" class="loader">
  <mat-spinner></mat-spinner>
</div>
<div class="product-detail" *ngIf="product.data && !loading">
  <mat-card class="product-detail__card">
    <mat-card-content class="product-detail__card-content">
      <h1>{{product.data.title}}</h1>
      <h4>{{product.data.description | uppercase }}</h4>
      <p><span style="font-weight: 500">Price/Kg:</span> {{product.data.price | currency}}</p>
      <p><span style="font-weight: 500">Employee:</span> {{product.data.employee}}</p>
      <p><span style="font-weight: 500">Category:</span> {{product.data.category}}</p>
      <p *ngIf="product.data.reviews"><span style="font-weight: 500">Reviews:</span> {{product.data.reviews}}</p>
      <button mat-raised-button color="warn" class="delete-button" (click)="deleteProduct()">Delete</button>
    </mat-card-content>
  </mat-card>
</div>