.product-detail {
  display: flex;
  justify-content: center;

  &__card {
    text-align: center;
    margin: 20px;
    width: 30%;
    min-height: 300px;
  }

  &__card-content {
    font-size: 2rem;
    & h1 {
      font-size: 3rem;
    }

    & h4 {
      margin-bottom: 30px;
    }

    & p {
      margin-top: 20px;
    }

    & .delete-button {
      margin-top: 50px;
    }
  }
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
